<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue todos</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="app">
        <div class="topbar">
            <a href="#">Sign in</a>
            <a href="#">Login</a>
            <a href="#"><i class="fa fa-bars"></i></a>
        </div>
        <div class="title">
            todos
        </div>
        <div class="container">
            <div class="tasklist">
                <div class="taskInputWrapper">
                    <i class="fa fa-chevron-down"></i>
                    <input id="taskInput" v-on:keyup.enter="addTask" type="text" placeholder="What needs to be done?"
                        autofocus>
                </div>
                <ul v-if="tasks.length > 0" v-cloak>
                    <li v-for="task in taskList" class="task" v-bind:class="{marked: task.isDone}">
                        <div v-on:click="markTaskAsDone(task.id)" class="tickBox"></div>{{task.name}}
                    </li>
                </ul>
                <div v-else class="info">
                    No tasks here.
                </div>
            </div>
            <div class="controls">
                <div>
                    {{itemsLeft}}
                    <span v-if="itemsLeft == 1">item</span>
                    <span v-else>items</span>
                    left
                </div>
                <div class="flex-center">
                    <button class="btn" v-bind:class="{active: isActiveView(0)}"
                        v-on:click="showAllTasks()">All</button>
                    <button class="btn" v-bind:class="{active: isActiveView(1)}"
                        v-on:click="showActiveTasks()">Active</button>
                    <button class="btn" v-bind:class="{active: isActiveView(2)}"
                        v-on:click="showCompletedTasks()">Completed</button>
                </div>
                <div>
                    <button class="btn" v-on:click="clearCompleted">Clear completed</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        todos 2019
    </footer>

    <script src="https://unpkg.com/vue"></script>
    <script src="js/main.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("taskInput").focus();
        });
    </script>
</body>

</html>